<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
    <div class="col">
      <app-card-habitacion></app-card-habitacion>
    </div>
  </div>
</div>
