<button type="button" class="btn btn-success ">Agregar</button>
<div class="card">
  <div class="card-header text-center">
    Empleados
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Usuario</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">Rol</th>
          <th scope="col">Foto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Angel.TLVNG</td>
          <td>Aetl2411</td>
          <td>Angel</td>
          <td>Trujillo Lopez</td>
          <td>9611724435</td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Datl01</td>
          <td>Dan3101</td>
          <td>Daniel</td>
          <td >Trujillo Lopez</td>
          <td>9191334438</td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>

        </tr>
        <tr>
          <th scope="row">3</th>
          <td>JESHUA</td>
          <td>Jeshua1</td>
          <td>Alberto</td>
          <td>Aguilar Lopez</td>
          <td>9612425460</td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    Hola Administradores
  </div>
</div>
