.calendar-comparison {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

mat-card {
  margin: 10px;
}

button.example-custom-date-class {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

fieldset {
  height: 70px !important;
}
