<button type="button" class="btn btn-success ">Agregar</button>
<div class="card">
  <div class="card-header text-center">
    Reservaciones
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Estado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Empleado</th>
          <th scope="col">No personas</th>
          <th scope="col">No personas ext</th>
          <th scope="col">Entrada</th>
          <th scope="col">Salida</th>
          <th scope="col">Total</th>
          <th scope="col">Precio especial</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (reservacion of reservaciones; track $index) {
          <tr>
            <th scope="row">{{reservacion.idReservacion}}</th>
            <td>{{reservacion.estado}}</td>
            <td>{{reservacion.cliente.nombre + " " + reservacion.cliente.primerApellido}}</td>
            <td>{{reservacion.empleado.nombre + " " + reservacion.empleado.primerApellido}}</td>
            <td>{{reservacion.noPersonas}}</td>
            <td>{{reservacion.noPersonaExtra}}</td>
            <td>{{reservacion.fechaEntrada | date: 'dd/MM/yyyy'}}</td>
            <td>{{reservacion.fechaSalida | date: 'dd/MM/yyyy'}}</td>
            <td>{{reservacion.total}}</td>
            <td>
              <button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        }@empty {
          <tr class="text-center">
            <td colspan="11">No hay ninguna reservación por el momento</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    Hola Administradores
  </div>
</div>

