.calendar-comparison {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

mat-card {
  margin: 10px;
}

button.example-custom-date-class {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.alto-fechas {
  height: 70px !important;
  text-align: center;
}

.body-habitaciones {
  max-height: 65vh;
  overflow-x: hidden;
}

.body-habitaciones .card {
  transition: box-shadow 0.3s ease-in-out !important; /* Asegurando que esta transición tenga prioridad */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important; /* Sombra predeterminada más sutil con !important */
}

.body-habitaciones .card:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.35) !important; /* Sombra intensa en hover */
  border-color: rgba(0, 123, 255, 0.35) !important;
}

.body-habitaciones .card {
  cursor: pointer;
}

/* Estilos para hacer que la tabla sea desplazable horizontalmente */
.table-container {
  overflow-x: auto;
  max-width: 100%;
}

/* Asegura que la tabla ocupe el ancho completo del contenedor */
.table {
  width: 100%;
  table-layout: auto;
}

/* Establece la anchura de las columnas en automático para que se ajusten al contenido */
.table th,
.table td {
  width: auto;
  white-space: nowrap; /* Evita el salto de línea en el texto largo */
}

.left-primary {
  border-left: 5px solid var(--bs-primary) !important;
}
