<button type="button" class="btn btn-success ">Agregar</button>
<div class="card">
  <div class="card-header text-center">
    Reservaciones
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Estado</th>
          <th scope="col">Cliente</th>
          <th scope="col">Empleado</th>
          <th scope="col">Num Personas</th>
          <th scope="col">Num Personas ext</th>
          <th scope="col">Entrada</th>
          <th scope="col">Salida</th>
          <th scope="col">Total</th>
          <th scope="col">Precio Especial</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>twitter</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    Hola Administradores
  </div>
</div>

