
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="altaCliente.defineForm()">
  Agregar
</button>

<button type="button" class="btn btn-danger">PDF</button>

<div class="card">
  <div class="card-header text-center">
    Clientes
  </div>
  <form id="clientes">
  <div class="card-body">
    @if (isLoadedClientes) {
      <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellidos Materno</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (cliente of clientes; track $index) {

          <tr>
            <th scope="row">{{cliente.idCliente}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.primerApellido}}</td>
            <td>{{cliente.segundoApellido}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.municipio}}</td>
            <td>
              <div class="row gx-0">
                <div class="col">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="altaCliente.modificarCliente(cliente)">Editar</button>
                </div>
                <div class="col">
                 <button type="button" class="btn btn-danger"  (click)="eliminarCliente(cliente.idCliente)">Eliminar</button>
                </div>
              </div>
            </td>
          </tr>
        } @empty {
          <p>
            No se encontraron registros
          </p>
        }
      </tbody>
    </table>
  </div>
    }
  </div>
</form>
  <div class="card-footer text-center">
    Hola clientes
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{altaCliente.isEditing() ? "Modificar cliente" : "Agregar cliente"}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="altaCliente.resetForm()"></button>
      </div>
      <div class="modal-body">
       <app-alta-cliente (exitoCliente)="getAllClientes()" #altaCliente/>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" (click)="altaCliente.resetForm()">Close</button>
        <button type="button" class="btn btn-primary " (click)="altaCliente.validaFormCliente()">{{altaCliente.isEditing() ? "Modificar" : "Agregar"}}</button>
      </div>
    </div>
  </div>
</div>
