
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="defineForm()">
  Agregar
</button>

<button type="button" class="btn btn-danger">PDF</button>

<div class="card">
  <div class="card-header text-center">
    Clientes
  </div>
  <div class="card-body">
    @if (isLoadedClientes) {
      <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellidos Materno</th>
          <th scope="col">Telefono</th>
          <th scope="col">Estado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (cliente of clientes; track $index) {

          <tr>
            <th scope="row">{{cliente.idCliente}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.primerApellido}}</td>
            <td>{{cliente.segundoApellido}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.estado}}</td>
            <td>{{cliente.municipio}}</td>
            <td>
              <div class="row gx-0">
                <div class="col">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="modificarCliente(cliente.idCliente)">Editar</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-danger"  (click)="eliminarCliente(cliente.idCliente)">Eliminar</button>
                </div>
              </div>
            </td>
          </tr>
        } @empty {
          <p>
            No se encontraron registros
          </p>
        }
      </tbody>
    </table>
  </div>
    }
  </div>
  <div class="card-footer text-center">
    Hola clientes
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{isEditing ? "Modificar cliente" : "Agregar cliente"}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="clienteForm">
          <div class="row row-cols-2 row-cols-lg-3">
            <div class="col mb-3">
              <input type="hidden" formControlName="idCliente">

              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('nombre')" [class.is-invalid]="isFieldInvalid('nombre')" id="nombre" formControlName="nombre" placeholder="">
                <label for="nombre">Nombre</label>
              </div>
              @if (isFieldInvalid('nombre')) {
                <small class="text-danger">
                  Ingrese un nombre
                </small>
              }
            </div>
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('primerAp')" [class.is-invalid]="isFieldInvalid('primerAp')"  id="primerAp" formControlName="primerAp" placeholder="">
                <label for="primerAp">Apellido paterno</label>
              </div>
              @if (isFieldInvalid('primerAp')) {
                <small class="text-danger">
                  Ingrese un apellido
                </small>
              }
            </div>
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('segundoAp')" [class.is-invalid]="isFieldInvalid('segundoAp')"  id="segundoAp" formControlName="segundoAp" placeholder="">
                <label for="segundoAp">Apellido materno</label>
              </div>
              @if (isFieldInvalid('segundoAp')) {
                 <small class="text-danger">
                  Ingrese un apellido
                </small>
              }
            </div>
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('telefono')" [class.is-invalid]="isFieldInvalid('telefono')" id="telefono" formControlName="telefono" placeholder="">
                <label for="telefono">Telefono</label>
              </div>
              @if (isFieldInvalid('telefono')) {
                <small class="text-danger">
                  Ingrese un numero
                </small>
              }
            </div>
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('estado')" [class.is-invalid]="isFieldInvalid('estado')"  id="estado" formControlName="estado" placeholder="">
                <label for="estado">Estado</label>
              </div>
              @if (isFieldInvalid('estado')) {
                <small class="text-danger">
                  Ingrese un estado
                </small>
              }
            </div>
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" [class.is-valid]="isValid('municipio')" [class.is-invalid]="isFieldInvalid('municipio')"  id="municipio" formControlName="municipio" placeholder="">
                <label for="municipio">Municipio</label>
              </div>
              @if (isFieldInvalid('municipio')) {
                <small class="text-danger">
                  Ingrese un municipio
                </small>
              }
            </div>
          </div>
        </form>
       </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" (click)="resetForm()">Close</button>
        <button type="button" class="btn btn-primary " (click)="validaFormCliente()">{{isEditing ? "Modificar" : "Agregar"}}</button>
      </div>
    </div>
  </div>
</div>
