/* You can add global styles to this file, and also import other style files*/
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.form-floating-label {
  position: relative;
}

.form-floating-label label {
  position: absolute;
  pointer-events: none;
  left: 0;
  transition: top 0.2s ease, opacity 0.2s ease, color 0.2s ease, transform 0.2s ease, left 0.2s ease;
  opacity: 0.7;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 13px;
  background-color: white;
}

.form-floating-label input:focus+label,
.form-floating-label input:not(:placeholder-shown)+label,
.form-floating-label select:focus+label,
.form-floating-label select:not(:placeholder-shown)+label
{
  top: 0;
  opacity: 1;
  transform: translateY(-53%) scale(0.75);
  left: -0.80rem;
}

.form-control:focus,
.form-control.is-invalid:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.fs-7{
  font-size: 0.8rem !important
}

img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/0;
  object-fit: contain;
}

.servicios {
  width: calc(1rem + .8vw);
}
