/* .active {
  color: blue !important;
}
.navbar {
  position: fixed;
  width: calc(100% - 40px);
  top: 0px;
  left: 20px;
  z-index: 1000;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 75px;
  padding-right: 20px;
  padding-left: 20px;
} */

.navbar-brand img {
  height: 50px;
  margin-right: 10px;
}

.cerrar {
  cursor: pointer;
}


/* Estilos para la barra de navegación */
.nav-link {
  background-color: #c08f56; /* Cambia el color de fondo de la barra de navegación */
}

.bg-custom-color {
  background-color: #fae6cf; /* Cambia el color de fondo de la barra de navegación */
}



/* Estilos para el texto en la barra de navegación */
.navbar-text {

  margin:.8%;/* Cambia el color de fondo de la barra de navegación */
}
