<div class="card">
    <div class="card-header text-center">
      Bienvenido Administrador!
    </div>
  </div>

  <div class="container">
    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 101</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 102</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 103</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>
    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 104</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 104</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 105</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 106</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 107</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 108</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>
    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 109</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 110</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 111</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 112</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 113</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 114</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>
    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 115</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 116</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 117</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>
    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 118</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 119</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1c.jpeg">
        <h1>Cuarto 120</h1>
        <p></p>
        <a href="#">Disponible</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/1k2m.jpeg">
        <h1>Cuarto 121</h1>
        <p></p>
        <a href="#">Ocupado</a>
    </div>

    <div class="card">
        <img src="../../../../assets/image/habitaciones/2c.jpeg">
        <h1>Cuarto 122</h1>
        <p></p>
        <a href="#">Reservado</a>
    </div>
</div>
