img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/0;
  object-fit: contain;
}

.servicios {
  width: calc(1rem + .8vw);
}

.disponible {
  box-shadow: 0 0.5rem 1rem rgba(40, 167, 69, 0.25)!important; /* Bootstrap's success color in RGB */
}

.reservado {
  box-shadow: 0 0.5rem 1rem rgba(255, 193, 7, 0.25)!important; /* Bootstrap's warning color in RGB */
}

.ocupado {
  box-shadow: 0 0.5rem 1rem rgba(220, 53, 69, 0.25)!important; /* Bootstrap's danger color in RGB */
}
