<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Agregar
</button>
<button type="button" class="btn btn-danger">PDF</button>
<div class="card">
  <div class="card-header text-center">
    Comentarios
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Comentario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Hotel bonito </td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    Hola Administradores
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar/Modificar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row row-cols-1">
          <form id="">
            <div class="col mb-3">
              <div class="form-floating-label">
                <input type="text" class="form-control" id="comentario" formControlName="comentario" placeholder="">
                <label for="comentario">Comentario</label>
              </div>
              @if (isFieldInvalid('comentario')) {
                <small class="text-danger">
                  Ingrese un comentario
                </small>
              }
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary " (click)="agregarComentario()">Agregar</button>
      </div>
    </div>
  </div>
</div>
