<button type="button" class="btn btn-success ">Agregar</button>
<div class="card">
  <div class="card-header text-center">
    Comentarios
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Comentario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Enerdina</td>
          <td>Ene&#64;gmail.com</td>
          <td>Hotel bonito </td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>jaco&#64;gmail.com</td>
          <td>Excelente servicio</td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Larry </td>
          <td>larry&#64;gmail.com</td>
          <td>Buen hospedaje</td>
          <td><button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    Hola Administradores
  </div>
</div>

