  <div class="contenedor" >

  </div>
<br>


<header>
  <h1 class="text-center">HOSPEDAJE SAN FELIPE DE JESUS</h1>
</header>



<div class="container">
  <h2 class=" text-center mt-4 header-habitaciones">Habitaciones</h2>
  <div class="row">
    <br>
    <br>
    @for (habitacion of habitaciones; track $index) {
      <div class="col">
        <div class="card">
          <div class="card-header text-center">Habitación No. {{habitacion.idHabitacion}}</div>
          <div class="card-body p-0">
            @if(habitacion.imagen) {
              <img [src]="habitacion.imagen" loading="lazy" alt="Foto Habitación">
            }@else {
              <p>Cargando imágen...</p>
            }
          </div>
          <div class="card-footer text-center">
            <br>
            <div class="row">
              @for (servicio of habitacion.servicios; track $index) {
                <div class="col">
                  <img class="servicios" [src]="'./assets/icons/svg/' + servicio.idServicio + '.svg'" loading="lazy" [alt]="servicio.descripcion">
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }@empty {
      <p>No se encontraron habitaciones</p>
    }
  </div>


</div>
<br>
<br>
<div id="horario" class="">
  <h3 class="mb-4">Horarios de atencion</h3>
  <div>
      <p class=""><strong> Lunes a Domingo</strong></p>
      <p class=""><strong> Siempre Disponible 24hr </strong></p>
  </div>
</div>
<div class="map-container">
<div class="map-text">Ubicación del Hospedaje</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d673.401053452657!2d-92.42642631144751!3d17.299542127178206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f27fb603bc7141%3A0x6fb0a8b1bda23aef!2sHospedaje%20San%20Felipe%20de%20Jes%C3%BAs!5e0!3m2!1ses!2smx!4v1713920861580!5m2!1ses!2smx" width="1230" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div>
<div class="contact-container">
  <p>C<br>O<br>N<br>T<br>A<br>C<br>T<br>O<br>S</p>
  <a href="https://wa.me/529611724435" class="whatsapp-link">
    <img src="../../../../assets/image/habitaciones/whatsapp-line.png" style="width: 50px; height: auto;" >
  </a>

  <a href="tel:9611724435" class="btnllamar"><img src="../../../../assets/icons/png/telephone.png" style="width: 45px; height: auto;" ></a>
  <a href="https://www.facebook.com/hospedajesanfelipedejesus?mibextid=kFxxJD" class="btnfacebook"><img src="../../../../assets/icons/png/facebook.png" style="width: 50px; height: auto;" ></a>
</div>




