<div class="card">
  <span class="text-center my-2">{{'Habitación ' + habitacion.noHabitacion}}</span>
  <hr>
  <div class="card-body">
    Hi
  </div>

</div>

<!-- <div class="card callout shadow-sm">
  <div class="card-content">
    <div class="card-body">
      <div class="d-flex">
        <div class="flex-grow-1 ms-3">
          <span class="display-6 fs-10 fw-normal">{{'Habitación ' + habitacion.noHabitacion}}</span><br>
          <span class="display-6 fs-6 text-muted">Libre</span>
        </div>
        <div class="flex-shrink-0">
          <div class="position-relative">
            <img src="../../../../assets/icons/svg/calendar_month.svg" title="calendar" alt="calendar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

